
section{
    width: 22%;
    height: 60vh;
    background-color:bisque;
    border-radius: 8px;
    margin-left: 300px;
}
div{
    width:70%;
    height:30vh;
    background-color:blueviolet;
    padding-left:50px;
    padding-top: 50px;
    border-radius: 8px;
    margin-top: 200px;
    margin-left: 20px;  

}

img{
    width:180px;
    height:180px;
    border-radius: 8px; 
    margin-top: 0px;
    margin-left: 10px;  
}

h4{
    text-align: center;
    font-style: sans;
    font-weight: bold;
}

p{
    text-align: center;
    font-style: sans;
}
